.score-card {
    background-color: white;
    border-radius: 8px;
    margin-bottom: 30px;
    transition: transform 0.5s;
    padding: 20px 5px 0 5px;
}

.score-card:hover {
    transform: translateY(-10px);
}

.score-card-overlay {
    top: 0;
    left: 0;
}

.score-card-header {
    font-weight: bold; 
    padding: 2px 16px;
}

.score-card-body {
    padding: 2px 16px;
    font-size: 50px;
    font-weight: bold;
}